<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Learts – Handmade Shop eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/images/favicon.png"
    />

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link
      rel="stylesheet"
      href="../../../public/css/vendor/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../../../public/css/vendor/font-awesome-pro.min.css"
    />
    <link
      rel="stylesheet"
      href="../../../public/css/vendor/themify-icons.css"
    />
    <link rel="stylesheet" href="../../../public/css/vendor/customFonts.css" />

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="../../../public/css/plugins/select2.min.css" />
    <link
      rel="stylesheet"
      href="../../../public/css/plugins/perfect-scrollbar.css"
    />
    <link rel="stylesheet" href="../../../public/css/plugins/swiper.min.css" />
    <link rel="stylesheet" href="../../../public/css/plugins/nice-select.css" />
    <link
      rel="stylesheet"
      href="../../../public/css/plugins/ion.rangeSlider.min.css"
    />
    <link rel="stylesheet" href="../../../public/css/plugins/photoswipe.css" />
    <link
      rel="stylesheet"
      href="../../../public/css/plugins/photoswipe-default-skin.css"
    />
    <link
      rel="stylesheet"
      href="../../../public/css/plugins/magnific-popup.css"
    />
    <link rel="stylesheet" href="../../../public/css/plugins/slick.css" />

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="../../../public/css/style.css" />

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <link rel="stylesheet" href="../../../public/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="../../../public/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="../../../public/css/style.min.css"> -->
  </head>

  <body>
    <!-- Default Buttons Section Start -->
    <div class="section section-padding">
      <div class="container">
        <!-- Section Title Start -->
        <div class="section-title2 text-center">
          <h2 class="title">Default Buttons</h2>
        </div>
        <!-- Section Title End -->
        <div class="row align-items-center learts-mb-n20">
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-primary">primary</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-primary2">primary2</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-primary3">primary3</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-secondary">secondary</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-success">success</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-danger">danger</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-info">info</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-warning">warning</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-light">light</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-dark">dark</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Default Buttons Section End -->

    <!-- Outline Buttons Section Start -->
    <div class="section section-padding pt-0">
      <div class="container">
        <!-- Section Title Start -->
        <div class="section-title2 text-center">
          <h2 class="title">Outline Buttons</h2>
        </div>
        <!-- Section Title End -->
        <div class="row align-items-center learts-mb-n20">
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-outline-primary">primary</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-outline-primary2">primary2</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-outline-primary3">primary3</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-outline-secondary">secondary</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-outline-success">success</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-outline-danger">danger</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-outline-info">info</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-outline-warning">warning</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-outline-light">light</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-outline-dark">dark</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Outline Buttons Section End -->

    <!-- Buttons Sizes Section Start -->
    <div class="section section-padding pt-0">
      <div class="container">
        <!-- Section Title Start -->
        <div class="section-title2 text-center">
          <h2 class="title">Buttons Sizes</h2>
        </div>
        <!-- Section Title End -->
        <div class="row align-items-center learts-mb-n20">
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-sm btn-primary">small</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-md btn-primary">medium</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-primary">default</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-lg btn-primary">large</a>
          </div>
          <div class="col-auto learts-mb-20">
            <a href="#" class="btn btn-xl btn-primary">extra large</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Buttons Sizes Section End -->
    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <script src="../../../public/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="../../../public/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="../../../public/js/vendor/jquery-migrate-3.1.0.min.js"></script>
    <script src="../../../public/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="../../../public/js/plugins/select2.min.js"></script>
    <script src="../../../public/js/plugins/jquery.nice-select.min.js"></script>
    <script src="../../../public/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../../../public/js/plugins/swiper.min.js"></script>
    <script src="../../../public/js/plugins/slick.min.js"></script>
    <script src="../../../public/js/plugins/mo.min.js"></script>
    <script src="../../../public/js/plugins/jquery.instagramFeed.min.js"></script>
    <script src="../../../public/js/plugins/jquery.ajaxchimp.min.js"></script>
    <script src="../../../public/js/plugins/jquery.countdown.min.js"></script>
    <script src="../../../public/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="../../../public/js/plugins/isotope.pkgd.min.js"></script>
    <script src="../../../public/js/plugins/jquery.matchHeight-min.js"></script>
    <script src="../../../public/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="../../../public/js/plugins/photoswipe.min.js"></script>
    <script src="../../../public/js/plugins/photoswipe-ui-default.min.js"></script>
    <script src="../../../public/js/plugins/jquery.zoom.min.js"></script>
    <script src="../../../public/js/plugins/ResizeSensor.js"></script>
    <script src="../../../public/js/plugins/jquery.sticky-sidebar.min.js"></script>
    <script src="../../../public/js/plugins/product360.js"></script>
    <script src="../../../public/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="../../../public/js/plugins/jquery.scrollUp.min.js"></script>
    <script src="../../../public/js/plugins/scrollax.min.js"></script>

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <script src="../../../public/js/vendor/vendor.min.js"></script>
<script src="../../../public/js/plugins/plugins.min.js"></script> -->

    <!-- Main Activation JS -->
    <script src="../../../public/js/main.js"></script>
  </body>
</html>
